/**
 * PVD WP Admin Theme Colors
 * Industrial Dark
 *
 * A dark variation on the PVD Industrial colorway
 *
 */

/* Core Colors */

$text-color: #F1F2F1;
$base-color: #181A18;//#0C0D0C;
$icon-color: darken($text-color, 25%);
$highlight-color: #386F38;
$notification-color: #7E542A;

/* Global Admin Colors */

$body-background: #181A18;
$highlight-background: #F7FCF7;

$link: #3FA63F;
$link-focus: saturate( lighten( $link, 5% ), 5%);//#3FA63F;

$button-color: #3D8E3D;
$button-border-focus: lighten( $highlight-color, 25% );
$form-checked: $highlight-color;

/* Advanced Color Variable Options */

// $menu-text: $text-color !default;
// $menu-icon: $icon-color !default;
// $menu-icon-focus: $text-color !default;
$menu-background: $base-color !default;

// $menu-highlight-text: $text-color !default;
// $menu-highlight-icon: $text-color !default;
// $menu-highlight-icon-focus: $text-color !default;
// $menu-highlight-background: $highlight-color !default;

// $menu-current-text: $menu-highlight-text !default;
// $menu-current-icon: $menu-highlight-icon !default;
// $menu-current-background: $menu-highlight-background !default;

// $menu-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$menu-submenu-background: darken( $base-color, 5% );
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 5% ), 5% );

$menu-submenu-focus-text: $link-focus;
// $menu-submenu-current-text: $text-color !default;

// $menu-bubble-text: $text-color !default;
// $menu-bubble-background: $notification-color !default;
// $menu-bubble-current-text: $text-color !default;
// $menu-bubble-current-background: $menu-submenu-background !default;

// $menu-collapse-text: $menu-icon !default;
// $menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $link-focus;
// $menu-collapse-focus-icon: $menu-highlight-icon !default;

// $adminbar-avatar-frame: lighten( $menu-background, 7% ) !default;
// $adminbar-input-background: lighten( $menu-background, 7% ) !default;

// $menu-customizer-text: mix( $base-color, $text-color, 40% ) !default;

$table-border-active: $highlight-color;
$table-background-active: $highlight-background;

/* Apply Colors to Default Style Rules */
@import '../admin';

/* Dark Theme Variables */

$text-header-color: darken( $text-color, 10% ) !default;
$panel-background: #242824;// lighten( $body-background, 5% ) !default;
$border-color: $base-color;

// Secondary Action Buttons
$button-text: $highlight-color !default;
$button-background: $panel-background !default;
$button-border: fade-out( $border-color, 0.2 ) !default;

/* Dark Theme Styles */
@import '../admin-dark.scss';

.try-gutenberg-panel,
.welcome-panel,
.postbox {
	background: $panel-background;
	border-color: $border-color;
}

.postbox .hndle,
.stuffbox .hndle {
	border-color: $border-color;
}
