/**
 * PVD WP Admin Theme Colors
 * Industrial Dark
 *
 * A dark variation on the PVD Industrial colorway
 *
 */

/* Core Colors */

$text-color: #A2A8A2;//#B2B7B2;
$base-color: #181A18;//#0C0D0C;
$icon-color: darken($text-color, 24%);
$highlight-color: #386F38;
$notification-color: #7E542A;

/* Global Admin Colors */

$body-background: $base-color;//#181A18;
$highlight-background: #F7FCF7;

$link: #3F693F;//#3FA63F;
$link-focus: saturate( lighten( $link, 3% ), 3%);//#3FA63F;

$button-color: #3D8E3D;
$button-border-focus: lighten( $highlight-color, 24% );
$form-checked: $highlight-color;

/* Advanced Color Variable Options */

// $menu-text: $text-color !default;
// $menu-icon: $icon-color !default;
// $menu-icon-focus: $text-color !default;
$menu-background: $base-color !default;

// $menu-highlight-text: $text-color !default;
// $menu-highlight-icon: $text-color !default;
// $menu-highlight-icon-focus: $text-color !default;
// $menu-highlight-background: $highlight-color !default;

// $menu-current-text: $menu-highlight-text !default;
// $menu-current-icon: $menu-highlight-icon !default;
// $menu-current-background: $menu-highlight-background !default;

// $menu-submenu-text: mix( $base-color, $text-color, 30% ) !default;
$menu-submenu-background: darken( $base-color, 6% );
$menu-submenu-background-alt: desaturate( lighten( $menu-background, 3% ), 3% );

$menu-submenu-focus-text: $link-focus;
// $menu-submenu-current-text: $text-color !default;

// $menu-bubble-text: $text-color !default;
// $menu-bubble-background: $notification-color !default;
// $menu-bubble-current-text: $text-color !default;
// $menu-bubble-current-background: $menu-submenu-background !default;

// $menu-collapse-text: $menu-icon !default;
// $menu-collapse-icon: $menu-icon !default;
$menu-collapse-focus-text: $link-focus;
// $menu-collapse-focus-icon: $menu-highlight-icon !default;

// $adminbar-avatar-frame: lighten( $menu-background, 7% ) !default;
// $adminbar-input-background: lighten( $menu-background, 7% ) !default;

// $menu-customizer-text: mix( $base-color, $text-color, 40% ) !default;

$table-border-active: $highlight-color;
$table-background-active: $highlight-background;

/* Apply Colors to Default Style Rules */
@import '../admin';

/* Dark Theme Variables */

$border-color: darken( $base-color, 1.5% );
$panel-background: desaturate( lighten( $body-background, 3% ), 3% ) !default;
$table-background-alt: darken( $body-background, 1%) !default;
$text-color-alt: darken( $text-color, 6% ) !default;
$text-color-focus: mix($text-color, $link-focus) !default;

$notice-dismiss: #A82A00;
$notice-success: $highlight-color;
$notice-warning: #DF7C1F;
$notice-error: #DF0F1F;
$notice-info: #759375;

// Inputs & Action Buttons
$input-text: $highlight-color !default;
$input-background: lighten( $panel-background, 3% ) !default;
$input-border: darken( $base-color, 3% ) !default;

@keyframes spin {
    from {
    	transform:rotate( 0deg );
    }

    to {
    	transform:rotate( 360deg );
    }
}

/* Dark Theme Styles */
@import '../admin-dark.scss';

.try-gutenberg-panel,
.welcome-panel,
.postbox {
	background: $panel-background;
	border-color: $border-color;
}

.postbox .hndle,
.stuffbox .hndle {
	border-color: $border-color;
}

.wp-core-ui .button.show-settings {
	box-shadow: 0 1px 0 $border-color;
}

// WP Admin - About
.about-wrap h1 {
	color: $text-color;
}

.about-wrap .about-text {
	color: $text-color-alt;
}

.about-wrap .changelog h3 {
	color: $text-color-alt;
}
