/**
 * Dark Mode Option
 *
 * Overrides admin color options preview.
 *
 * @TODO : Needs to be compiled with the correct theme name for each
 * selector and enqueued in the admin if the plugin is active.
 */

.color-option {
  position: relative;
}

.color-option.selected input[value="industrial"] ~ table::before,
.color-option:hover input[value="industrial"] ~ table::before {
  background: rgba(0,0,0,0.75);
}

input[value="industrial"] ~ table::before {
  background: rgba(0,0,0,0.667);
  content: '';
  display: block;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 0;
}

input[value="industrial"],
[for*="industrial"],
input[value="industrial"] ~ table tbody {
  position: relative;
  z-index: 1;
}

[for*="industrial"] {
  color: lightgray;
}
